<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Slimme Serre - {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/Peer.css") }}">
</head>
<body>
<nav>
    <ul>
        <li><a {% block contact %} {% endblock %} href="{{ url_for("contact") }}">Contact</a></li>
        <li><a {% block vocht %} {% endblock %} href="{{ url_for("vocht") }}">Vocht</a></li>
        <li><a {% block temp %} {% endblock %} href="{{ url_for("temp") }}">Temp</a></li>
        <li><a {% block licht %}{% endblock %} href="{{ url_for("licht") }}">Licht</a></li>
        <li><a {% block home %} {% endblock %} href="{{ url_for("homepage") }}">Home</a></li>
    </ul>
</nav>
{% block body %}
{% endblock %}
</body>
</html>